*{
    font-family: monospace;
    font-weight: bold;
    margin:0;
    padding: 0;
    color: rgb(133, 28, 80);
}

nav{
    background: grey;
    height:60px;
    width:100%;
    
}
h1{
    text-align: center;
    justify-content: center;
    align-items: center;
    color:rgb(117, 17, 67);
}
ul {
    margin-left: 39%;
}
ul button{
    margin-top: 20px ;
    padding:10px 25px;
    border:transparent;
    background: linear-gradient(rgb(0, 255, 21),rgb(219, 31, 172));
    border-radius: 15%;
    color: rgb(153, 202, 206);
    box-shadow: 0 0 15px 0 rgb(109, 35, 35);
}

#main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    
}

.card{
    margin-left:15px;
    box-shadow:0 0 10px 0 rgb(110, 13, 13);
    width:400px;
    height:570px;
    margin:50px;
    border-radius: 20px;

}
@media only screen and (max-width: 600px) {

 nav{
     width:550px;
     height:40px;
 }
 h1{
     margin-right: 2px;
 }
body{
     display:flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
 }
 ul{
    display: flex;
    flex-flow: row;
    justify-content:center;
    margin-right:40%;
    
 }   
 ul button{
     padding:10px 15px;
     margin:10px;
 }
.card{
    width:300px;
    height:auto;
}
#main{
    margin-top: 12%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}


}
